<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Arudacip Game</title>
    </head>
    <body>
        
            <div class="w-100 h-100 p-3">
                    {% if not isStart  %}
                        <span>Jogando como: {{ model.Username }}</span>
                    {% endif %}
                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="width: 100%; height: 83%;">
                        {% if isStart %}
                            <span>Bem vindo ao jogo! Para darmos inicio, digite seu nome.</span>
                        {% else %}
                            {% if model is not none%}
                            {% autoescape false %}
                                <div>{{ model.Fase.Texto | replace("|||", "<br/>") }}</div>
                            {% endautoescape %}
                            {% else %}
                                <span>Ocorreu um erro interno. Favor iniciar novamente.</span><br>
                                <span>Description: model is null</span>
                            {% endif %}
                        {% endif %}
                    </div>            
                        <div class="form-group row mb-2">
                            <label for="inputAnswer" class="col-sm-2 col-form-label">Sua resposta:</label>
                            <div class="col-sm-10 mb-2">
                                {% if isStart %}
                                    <form action="/game/0" id="form_start" method="POST"></form>
                                        <input type="text" name="user" class="form-control" id="inputAnswer" placeholder="Resposta" form="form_start">
                                        <input type="hidden" name="fase" value="-1" form="form_start">
                                        <input type="hidden" name="texto" value="Bem vindo ao jogo! Para darmos inicio, digite seu nome." form="form_start">
                                        <input type="hidden" name="isStart" value="Bem vindo ao jogo! Para darmos inicio, digite seu nome." form="form_start">
                                        <button type="submit" class="form-control btn btn-primary mb-2" form="form_start">Submit</button>
                                    </form>
                                {% else %}
                                    {% if model is not none%}
                                            <div class="w-100 h-50 btn-toolbar">
                                                {% for button in model.Fase.btnsList%}
                                                    <div class="w-50">
                                                        <form action="/game/{{ button.proximaFase }}" id="form_{{ button.proximaFase }}" method="POST">
                                                            <button type="submit" name="{{ button.ButtonDescription }}" value="{{ button.proximaFase }}" class="form-control" id="inputAnswer"> {{ button.ButtonDescription }}</button>
                                                            <input  type="hidden" name="nextFase" value="{{ model.Fase.texto }}">
                                                            <input  type="hidden" name="user" value="{{ model.player.Username }}">
                                                        </form>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                    {%else%}
                                        <span> !!!!ERRO!!!!</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        {% if isStart %}
                            <form action="/game" method="POST" id="form_start">
                            </form>
                            {% else %}
                                {% if model is not none%}
                                {% endif %}
                        {% endif %}
                  </div>

            <!-- BOOTSTRAP START-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <!-- BOOTSTRAP STOP-->
    </body>
</html>