<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ECP6ANUSJT</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col col-lg-3"></div>
                <div class="col col-lg-6">
                    <div class="row">
                        <div class="col col-lg-15">
                            <div class="row">
                                <div class="col-sm-4">
                                  <div class="card">
                                    <img class="card-img-top" height="100" width="175" fluid src="https://avatars0.githubusercontent.com/u/31106782?s=88&v=4" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Rafael Cassiolato</h5>
                                      <ul class="list-group list-group-flush">
                                          <li class="list-group-item">Email: rcassiolato@outlook.com</li>
                                          <li class="list-group-item">Telefone: (11) 94035-9183</li>
                                        </ul>
                                        <div class="card-body">
                                          <a href="www.github.com/racass" class="btn btn-primary">Github</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <img class="card-img-top" height="100" width="175" fluid src="https://avatars0.githubusercontent.com/u/31106782?s=88&v=4" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">Luis Felipe</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Email: luisfrlima@outlook.com</li>
                                            <li class="list-group-item">Telefone: (11) 96595-3153</li>
                                          </ul>
                                          <div class="card-body">
                                            <a href="www.github.com/arudacip" class="btn btn-primary">Github</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="card">
                                          <img class="card-img-top" height="100" width="175" fluid src="https://avatars0.githubusercontent.com/u/31106782?s=88&v=4" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Raiza Morata</h5>
                                          <ul class="list-group list-group-flush">
                                              <li class="list-group-item">Email: raizamorata@terra.com.br</li>
                                              <li class="list-group-item">Telefone: (11) 98508-9672</li>
                                            </ul>
                                            <div class="card-body">
                                              <a href="www.github.com/arudacip" class="btn btn-primary">Github</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                        </div>
                        <div class="row row-lg-5">
                            
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-1"><br></div></div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col col-lg-15">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <img class="card-img-top" height="100" width="175" fluid src="https://avatars0.githubusercontent.com/u/31106782?s=88&v=4" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">Bruno Gama</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Email: rcassiolato@outlook.com</li>
                                            <li class="list-group-item">Telefone: (11) 94035-9183</li>
                                          </ul>
                                          <div class="card-body">
                                            <a href="www.github.com/arudacip" class="btn btn-primary">Github</a>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="card">
                                          <img class="card-img-top" height="100" width="175" fluid src="https://avatars0.githubusercontent.com/u/31106782?s=88&v=4" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Guilherme Saint'Clair</h5>
                                          <ul class="list-group list-group-flush">
                                              <li class="list-group-item">Email: rcassiolato@outlook.com</li>
                                              <li class="list-group-item">Telefone: (11) 94035-9183</li>
                                            </ul>
                                            <div class="card-body">
                                              <a href="www.github.com/arudacip" class="btn btn-primary">Github</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                        </div>
                        <div class="row row-lg-5">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>